<div class="card card-primary mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-11">
                <div>#{{project.projectId}}</div>
                <h5>{{project.projectName}}</h5>
            </div>
            <div class="col-1">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-borderless" [hidden]="hideDetails">
            <tr>
                <th>Date of Start</th>
                <td>{{project.dateOfStart | date}}</td>
            </tr>
            <tr>
                <th>Team Size</th>
                <td>{{project.teamSize}}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{project.status}}</td>
            </tr>
        </table>
    </div>
    <div class="card-footer">
        <button (click)="updateProject(i)" type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#editModel">
            <i class="fa fa-edit"></i>
        </button>&nbsp;
        <button (click)="deletProject(i)" type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#deleteModel">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</div>